.image{
    height: 800px;
}
.notify-section{
    display: none;
    color: rgba(243, 5, 5, 0.671);
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;

}
.section-color{
    background-color: #FCECEA;
    color: black;
}