.image{
    /* width:700px; */
    height: 800px;
}
.notify-section{
    display: none;
    background-color: rgba(255, 0, 0, 0.507);
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;

}
.section-color{
    background-color: #FCECEA;
    color: black;
}